<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<script src="../static/jquery-3.3.1.min.js" th:src="@{/jquery-3.3.1.min.js}"></script>
<body>
<form th:action="@{/buy/pay}" method="post" id="buyForm">

    请选择购买物品:
    <select name="goods" id="goods">
        <option value="">请选择</option>
        <option th:each="goods:${goodsList}" th:value="${goods.value}" th:text="${goods.key}"/>
    </select>
    <input type="hidden" name="price" id="price" value="">
    <input type="hidden" name="product" id="product" value="">
    <span id="showGoodsInfo"></span>
    <input type="button" value="抢 购" id="buy">
</form>
</body>
<script type="text/javascript">
    $(document).ready(function () {

        $("#goods").change(function () {
            var goods = $("select[name='goods'] option:selected");
            $("#price").val(goods.val());
            $("#product").val(goods.text());
            $("#showGoodsInfo").text("赶快抢购，" + goods.text() + "特价" + goods.val() + "元！");
        });


        $("#buy").click(function () {

            var price = $("#price").val();
            var product = $("#product").val();

            if ("" == price) {
                alert("请选择抢购商品");
                return;
            }

            $("#buyForm").submit();
        })
    });
</script>
</html>